#title {
    height: 5vh;
    padding: 0.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(48, 48, 48);
    color: white;
}

#editor {
    padding: 0.5em;
    resize: none;
    flex: 1;
    border: 0;
    background-color: black;
    color: white;
}

#editor:focus {
    outline: none !important;
}

#separator {
    flex: 0.015;
    background-color: rgb(221, 221, 221);
}

#preview {
    flex: 1;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    padding-top: 0em;
    overflow-y: scroll;
}

img{
  max-width: 100%;
}
